@mixin flexDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    @include flexDisplay();
    .container {
        @include flexDisplay();
        header {
            text-align: center;
            font-family: monospace;
            h1 {
                margin: 10px;
            }
            h2 {
                margin: 10px;
            }
        }
        .grid {
        display: flex;
        flex-wrap: wrap;
        width: 700px;
        height: 440px;
        }
        img {
            margin: 10px;
            width: 200px;
            height: 200px;
        }
    }
}